<p>
  <b>Name:</b>
  <%=h @student.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @student.email %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'practice', practice_student_path(@student) %> |
<%= link_to 'Back', students_path %>
